{% extends "base.html" %}
{% load static %}
      {% block content %}
       <h2>Introduction</h2>
         <img src="{% static 'images/tai-ji-calligraphy.jpg' %}"
              class="rounded float-right border border-primary" alt=" "
         width="300" >
       <p>Tai Chi Chuan is a collection of Chinese exercises
          that have developed over the centuries.
          Tai Chi is an internal martial art (Wudong).
          This means that it is mostly focused on physical health and balance.
          Other martial arts try to build the body in a way
          to achieve physical mastery over others.
          Tai Chi is more concerned with individual mastery over yourself.</p>
        <h5>Objectives for Tai Chi practice:</h5>
        <ul>
          <li> <b>Balance</b> is improved by the various movements that strengthen the muscles.
            Some moves require that we stand on one foot while moving.
            This improves the sense of balance since the movements are very slow.
          </li>
          <li> <b>Flexability</b> improves as the movements are gradualy expanded and practiced.
            The variety of movements streach and strengthen the body.
          </li>
          <li> <b>Breath</b> is controlled as the movements are practiced.
            Each Tai Chi movement has a definite breathing pattern.
            The slow movements prompt slower, more deliberate breathing.
          </li>
          <li> <b>Propreception</b> is the sense of self-movement and body position.
          This sense is developed as you practice TaiChi.</li>
        </ul>
        <h3>This Site</h3>
        <p>Tai Chi classes and clubs exist all over the Metroplex.
        This site is your guide to finding those classes and clubs.
        The site is divided into the various styles of Tai Chi.
        These are listed in the menu.
        Just choose the style you want.
        The style page will give you a brief introduction to the style
        along with a list of available classes and clubs.
        Click on the class or club to get details and sign up.
        Note that some sessions have a cost,
          although most of the clubs are free.
        </p>
        <h2>Registration</h2>
        <p>You will need to create an account on this web site
        to sign up for classes or view any of the secured materials.
        There is no charge for this site.
          You will not be asked for a credit card.
        The membership list will only be used by the instructors and hosts
        who create and manage the membership of the classes or clubs.
        </p>
        <p>Instructors or hosts should contact
          <a href="mailto:dfwtaichi@gmail.com"> the site administrator </a>
        to be designated as an class or club manager. Note that managers can
        designate other members as instructors, also.
        Instructors will be responsible for setting up the classes or clubs that
        the wish to list on the site. Instructors will also be responsible
        for the membership list and notifications of meetings.
        Instructors can also create links to resources that will be useful
        to the members.
          Note that photos and videos can be associated with a class or club,
        but they will need to be stored in another site that the available via
        a shared link - like from youtube.
        </p>

      {% endblock content %}
